<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue - CRUD - Endereço - Serviços Web - Banco de dados</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>

<body>

    <div class="container-fluid">
        <h3>Projeto Vue+Axios+Express+Node</h3>

        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#home">Autenticação</a></li>
                <li><a data-toggle="pill" href="#menu1">Patentes</a></li>
                <li><a data-toggle="pill" href="#menu2">jogadores</a></li>
                <li><a data-toggle="pill" href="#menu3">Locais</a></li>
                <li><a data-toggle="pill" href="#menu4">Sair</a></li>
            </ul>
        </div>

        <div class="col-xs-6">
            <div class="tab-content" id="app">

                <div id="home" class="tab-pane fade in active">
                    <h3>Autenticacação</h3>
                    <!--<div class="form-outline mb-4">
                        <label class="form-label" for="inputANickname">Nickname:</label>
                        <input type="text" v-model="form_autenticacao.nickname" class="form-control"
                            id="inputANickname">
                    </div>-->
                </div>

                <div id="menu1" class="tab-pane">
                    <h3>Patentes</h3>

                    <table class="table table-striped">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Quant M. Pontos</th>
                            <th scope="col">Data</th>
                            <th scope="col">Cor</th>
                            <th scope="col">Logotipo</th>
                            <th scope="col">Alterar</th>
                            <th scope="col">Remover</th>
                        </tr>
                        <tbody>
                            <tr v-for="(p, indice) in patentes">
                                <td>{{p.codigo}}</td>
                                <td>{{p.nome}}</td>
                                <td>{{p.quant_min_pontos}}</td>
                                <td>{{p.datacriacao}}</td>
                                <td>{{p.cor}}</td>
                                <td>{{p.logotipo}}</td>
                                <td><button v-on:click="editPatente(indice, p.codigo)" class="btn"
                                        type="button">Alterar</button></td>
                                <td><button v-on:click="remPatente(indice, p.codigo)" class="btn"
                                        type="button">Remover</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <form id="formularioPatentes">
                        <h3>Formulário para cadastrar Patente</h3>
                        <div>
                            <div class="form-group">
                                <label for="inputCodigo">#:</label>
                                <input type="text" v-model="form_patente.codigo" class="form-control" id="inputCodigo"
                                    disabled>
                            </div>
                            <div class="form-group">
                                <label for="inputNome">Nome:</label>
                                <input type="text" v-model="form_patente.nome" class="form-control" id="inputNome">
                            </div>
                            <div class="form-group">
                                <label for="inputQuantMinPntos">Quantidade mínima de pontos:</label>
                                <input type="number" v-model="form_patente.quant_min_pontos" class="form-control"
                                    id="inputQuantMinPntos">
                            </div>
                            <div class="form-group">
                                <label for="inputDataCriacao">Data de criação:</label>
                                <input type="text" v-model="form_patente.datacriacao" class="form-control"
                                    id="inputDataCriacao" disabled>
                            </div>
                            <div class="form-group">
                                <label for="inputCor">Cor:</label>
                                <input type="text" v-model="form_patente.cor" class="form-control" id="inputCor">
                            </div>
                            <div class="form-group">
                                <label for="inputLogotipo">Logotipo:</label>
                                <input type="text" v-model="form_patente.logotipo" class="form-control"
                                    id="inputLogotipo">
                            </div>




                            <button @click="addPatente" class="btn btn-primary" type="button">Salvar</button>
                            <button @click="cleanFormularioPatente" class="btn btn-primary"
                                type="button">Limpar</button>
                        </div>
                    </form>

                </div>

                <div id="menu2" class="tab-pane fade">

                    <h2>jogadores</h2>

                    <table class="table table-striped">
                        <tr>
                            <th scope="col">NickName</th>
                            <th scope="col">Data de Cadastro</th>
                            <th scope="col">Quantidade de Pontos</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Situação</th>
                            <th scope="col">Alterar</th>
                            <th scope="col">Remover</th>
                        </tr>
                        <tbody>
                            <tr v-for="(j, indice) in jogadores">
                                <td>{{j.nickname}}</td>
                                <td>{{j.datacadastro}}</td>
                                <td>{{j.quantpontos}}</td>
                                <td>{{j.endereco.cep}}</td>
                                <td v-if="j.situacao == 'A'"><input type="checkbox" checked disabled></td>
                                <td v-if="j.situacao == 'I'"><input type="checkbox" disabled></td>
                                <td><button v-on:click="editJogador(indice)" class="btn" type="button">Alterar</button>
                                </td>
                                <td><button v-on:click="remJogador(indice)" class="btn" type="button">Remover</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div id="menu3" class="tab-pane">
                    <h3>Locais</h3>

                    <table class="table table-striped">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">status</th>
                            <th scope="col">Alterar</th>
                            <th scope="col">Remover</th>
                        </tr>
                        <tbody>
                            <tr v-for="(l, indice) in locais">
                                <td>{{l.codigo}}</td>
                                <td>{{l.nome}}</td>
                                <td v-if="l.statuslocal == true"><input type="checkbox" checked disabled></td>
                                <td v-if="l.statuslocal == false"><input type="checkbox" disabled></td>
                                <td><button v-on:click="ediLocal(indice, l.codigo)" class="btn"
                                        type="button">Alterar</button></td>
                                <td><button v-on:click="remLocal(indice, l.codigo)" class="btn"
                                        type="button">Remover</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div id="menu4" class="tab-pane">
                    <h3>Sair</h3>
                </div>
            </div>
        </div>

</body>
<script type="text/javascript">

    $(document).ready(function () {

        var patentes = [];

        var jogadores = [];

        var locais = [];


        var dados = {
            "patentes": patentes,

            "jogadores": jogadores,

            "locais": locais,

            form_patente: {
                indice: '',
                codigo: '',
                nome: '',
                quant_min_pontos: '',
                datacriacao: '',
                cor: '',
                logotipo: ''
            },

            form_local: {
                codigo: '',
                nome: '',
                statuslocal: ''
            },
        }



        Vue.filter('formataData', function (value) { /// formatação de data
            var data = new Date(value);
            data.setDate(data.getDate() + 1); //incrementa a data em um dia para mostrar corretamente (pode nao ser necessário)              
            dia = (data.getDate()).toString().padStart(2, '0'),
                mes = (data.getMonth() + 1).toString().padStart(2, '0'), //+1 pois no getMonth Janeiro começa com zero.                
                ano = data.getFullYear();
            return dia + "/" + mes + "/" + ano;
        })

        Vue.prototype.$http = axios;


        new Vue({
            el: app,
            data: dados,
            methods: { // bloco de metodos


                addPatente: function () {

                    var patente = jQuery.extend({}, this.form_patente);

                    if (patente.nome.length > 0) {

                        if (isNaN(parseInt(patente.indice))) {

                            this.$http.post('http://localhost:4000/insertpatentes', patente
                            )
                                .then(response => {

                                    this.patentes.push(response.data);
                                    alert('Inseriu a patente ' + response.data.codigo);
                                })
                                .catch(error => {
                                    alert('Erro ao inserir patente: ' + error.response.data);
                                });

                        } else {

                            this.$http.post('http://localhost:4000/updatepatentes', patente
                            )
                                .then(response => {

                                    Vue.set(this.patentes, patente.indice, response.data);

                                    alert('Alterou a Patente ' + response.data.codigo);
                                })
                                .catch(error => {
                                    alert('Erro ao alterar patente: ' + error);
                                });



                            alert('patente alterada !');
                        }
                        //localStorage.setItem("enderecos" , JSON.stringify(this.enderecos));

                        this.cleanFormularioPatente();

                    } else {

                        alert("Preencha Nome !!!");
                    }
                }, //fim do bloco addpatente


                editPatente: function (param_index) {

                    this.form_patente.indice = param_index;
                    this.form_patente.codigo = this.patentes[param_index].codigo;
                    this.form_patente.nome = this.patentes[param_index].nome;
                    this.form_patente.quant_min_pontos = this.patentes[param_index].quant_min_pontos;
                    this.form_patente.datacriacao = this.patentes[param_index].datacriacao;
                    this.form_patente.cor = this.patentes[param_index].cor;
                    this.form_patente.logotipo = this.patentes[param_index].logotipo;
                }, // fim do bloco edit patente



                remPatente: function (param_index) {

                    var r = confirm("Deseja realmente remover a Patente?");
                    if (r) {

                        this.$http.get('http://localhost:4000/deletepatentes/' + this.patentes[param_index].codigo)

                            .then(response => {

                              
                                this.patentes.splice(param_index, 1);

                                alert('Removeu com sucesso o Patente ' + response.data.codigo);

                            })
                            .catch(error => {
                                // error callback                                        
                                alert('Erro ao remover: ' + error);
                                console.log(error);
                            });

                    }

                },





                cleanFormularioPatente: function () {

                    this.form_patente.indice = '';
                    this.form_patente.codigo = '';
                    this.form_patente.nome = '';
                    this.form_patente.quant_min_pontos = '';
                    this.form_patente.datacriacao = '';
                    this.form_patente.cor = '';
                    this.form_patente.logotipo = '';
                }, // fim do bloco de limpar



            },

            created: function () {

                this.$http.get('http://localhost:4000/listpatentes').then(response => {

                    for (let p of response.data) {

                        this.patentes.push({
                            "codigo": p.codigo,
                            "nome": p.nome,
                            "quant_min_pontos": p.quant_min_pontos,
                            "datacriacao": p.datacriacao,
                            "cor": p.cor,
                            "logotipo": p.logotipo

                        });

                    }

                }).catch(response => {
                    // error callback
                    alert('Não conectou no serviço: listpatente');
                    console.log(response);
                });

                this.$http.get('http://localhost:4000/listlocais').then(response => {

                    for (let l of response.data) {

                        this.locais.push({
                            "codigo": l.codigo,
                            "nome": l.nome,
                            "statuslocal": l.statuslocal

                        });

                    }

                }).catch(response => {
                    // error callback
                    alert('Não conectou no serviço: listlocais');
                    console.log(response);
                });

            }









        });
    });

</script>

</html>